body { 
    font-family: 'Salsa', cursive; 
    background-color: #617073;
}

h3 {
    font-size: 15px;
}

label {
    color: #fff;
}

img {
    max-width: 320px;
    max-height: 240px;
    margin: auto;
}

[type="checkbox"]+label:before, 
[type="checkbox"]:not(.filled-in)+label:after {
    border-color: #fff;
}

.nav-extended {
    background-color: #171A21;
}

.my-pantry {
    background-color: #7A93AC;
    height: 100%;
}

.food-storage {
    background-color: #92BCEA;
    height: 100%;
}

.pantryItemClicked:checked + label:before {
  border-right: 2px solid #26a69a;
  border-bottom: 2px solid #26a69a; }

.removingFromPantry:checked + label:before {
  border-right: 2px solid darkred;
  border-bottom: 2px solid darkred; }

#removeFromPantry { 
    background-color: darkred;
    float: left;
    padding: 0 .5rem; 
}

#removeFromPantry:hover {  
    background-color: red;
    color: #fff; 
}

.layout {
    height: 550px;
}