body {
    font-family: 'Salsa', cursive;
    background-color: #617073;
}

h3 {
    font-size: 15px;
}

label {
    color: #fff;
}

<<<<<<< HEAD
[type="checkbox"]+label:before,
=======
img {
    max-width: 320px;
    max-height: 240px;
    margin: auto;
}

[type="checkbox"]+label:before, 
>>>>>>> efb50cdc9c43e804f5f636cf131792bce2b0e64c
[type="checkbox"]:not(.filled-in)+label:after {
    border-color: #fff;
}

.nav-extended {
    background-color: #171A21;
}

.my-pantry {
    background-color: #7A93AC;
    height: 100%;
}

.food-storage {
    background-color: #92BCEA;
    height: 100%;
}

<<<<<<< HEAD
.pantryItemClicked:checked+label:before {
    border-right: 2px solid blue;
    border-bottom: 2px solid blue;
}

.removingFromPantry:checked+label:before {
    border-right: 2px solid red;
    border-bottom: 2px solid red;
}

#removeFromPantry {
    background-color: red;
    float: left;
    padding: 0 .5rem;
}

#removeFromPantry:hover {
    background-color: blue;
    color: red;
}

.addToPantryButton {
    background-color: green;
    padding: 0 7rem;
}

.addToPantryButton:hover {
    background-color: yellow;
    color: green;
=======
.pantryItemClicked:checked + label:before {
  border-right: 2px solid #26a69a;
  border-bottom: 2px solid #26a69a; }

.removingFromPantry:checked + label:before {
  border-right: 2px solid darkred;
  border-bottom: 2px solid darkred; }

#removeFromPantry { 
    background-color: darkred;
    float: left;
    padding: 0 .5rem; 
}

#removeFromPantry:hover {  
    background-color: red;
    color: #fff; 
>>>>>>> efb50cdc9c43e804f5f636cf131792bce2b0e64c
}

.layout {
    height: 550px;
}

img {
    max-width: 320px;
    max-height: 240px;
    margin: auto;
}