body {
    font-family: 'Salsa', cursive;
    background-color: #617073;
    margin-top: 75px;
}

h3 {
    font-size: 15px;
}

h6 {
    text-align: center;
    font-size: 18px;
}

label {
    color: #171A21;
}

hr {
    border: 1px solid #171A21;
}

img {
    max-width: 320px;
    max-height: 240px;
    margin: auto;
}

[type="checkbox"]+label:before,
[type="checkbox"]:not(.filled-in)+label:after {
    border-color: #171A21;
}

.nav-extended {
    background-color: #171A21;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.card {
    background-color: #92BCEA;
}

.my-pantry, .food-storage {
    height: 100%;
}

.pantryItemClicked:checked+label:before {
    border-right: 2px solid blue;
    border-bottom: 2px solid blue;
}

.removingFromPantry:checked+label:before {
    border-right: 2px solid red;
    border-bottom: 2px solid red;
}

#removeFromPantry {
    background-color: red;
    float: left;
    padding: 0 .5rem;
}

#removeFromPantry:hover {
    background-color: blue;
    color: red;
}

.pantryItemClicked:checked+label:before {
    border-right: 2px solid #26a69a;
    border-bottom: 2px solid #26a69a;
}

.removingFromPantry:checked+label:before {
    border-right: 2px solid darkred;
    border-bottom: 2px solid darkred;
}

#removeFromPantry {
    background-color: darkred;
    float: left;
    padding: 0 .5rem;
}

#removeFromPantry:hover {
    background-color: maroon;
    color: #fff;
}

.layout {
    height: 550px;
}

#useRecipe {
    background-color: darkred;
    font-size: 13px;
}

#useRecipe:hover {
    background-color: maroon;
}